<div class="fondo">
  <img class="" id="mesita" :src={{imagen}}>
</div>
<div id="carouselExample" class="carousel slide">
  <!--PRIMERA GRILLA-->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container-fluid mt-">
        <div class="row">
          <!--UNO-->
          <div class="col-lg-2 " >
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">EXCELENTE</h5>
                <div class="ti-v-center"> <img loading="lazy" decoding="async" class="ti-logo-fb"
                  src="/assets/cincoestrella.png" width="140" height="28"
                 >
              </div>
                <span class="nowrap">A base de <strong>174 reseñas</strong></span>

              </div>
              <div class="ti-v-center"> <img loading="lazy" decoding="async" class="ti-logo-fb"
                  src="https://cdn.trustindex.io/assets/platform/Google/logo-dark.svg" width="150" height="25"
                  alt="Google">
              </div>
            </div>
          </div>
          <!--DOS-->
          <div class="col-lg-3">
            <div class="card ">
              <div class="ti-profile-img"> <img decoding="async"
                  src="https://lh3.googleusercontent.com/a-/ALV-UjVinbF1wNhvdGALsZNEh2wvfZeq9r76sGVEMeazohjJmhMv4sA=w40-h40-c-rp-mo-br100"
                  alt="Gonzalo Coca Rocha">
              </div>
              <div class="ti-profile-details">
                <div class="ti-name"> Gonzalo Coca Rocha </div>
                <div class="ti-date">2024-07-29</div>
              </div>
              <div class="card-body">
                <p class="card-text">Pedí un Escritorio Mykonos paraíso, me llegó en 24 días hábiles.
                  Excelente atención por parte de los chicos, las dudas que tengas te las responden, muy buena
                  atención
                </p>
              </div>
            </div>
          </div>
          <!--TRES-->
          <div class="col-lg-3">
            <div class="card ">
              <div class="ti-profile-img"> <img decoding="async"
                  src="https://lh3.googleusercontent.com/a/ACg8ocKIC5BXk35hVIiELz-DGZRVxOD5HJMASLyKKm0pEkneD-YpQA=w40-h40-c-rp-mo-br100"
                  alt="flaco sti">
              </div>
              <div class="ti-profile-details">
                <div class="ti-name"> flaco sti </div>
                <div class="ti-date">2024-08-28</div>
              </div>
              <div class="card-body">
                <p class="card-text">Excelente atención y paciencia
                </p>
              </div>
            </div>
          </div>





          <!--CUATRO-->
          <div class="col-lg-3">
            <div class="card">
              <img src="/assets/diseño.casa.jpg" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--SEGUNDA GRILLA-->
  <div class="carousel-inner">
    <div class="carousel-item ">
      <div class="container-fluid mt-">
        <div class="row">
          <!--CINCO-->
          <div class="col-3">
            <div class="card">
              <img src="/assets/diseño.casa.jpg" class="d-block w-100" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <!--SEIS-->
          <div class="col-3">
            <div class="card">
              <img src="/assets/diseño.casa.jpg" class="d-block w-100" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <!--SIETE-->
          <div class="col-3">
            <div class="card">
              <img src="/assets/diseño.casa.jpg" class="d-block w-100" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
          <!--OCHO-->
          <div class="col-3">
            <div class="card">
              <img src="/assets/diseño.casa.jpg" class="d-block w-100" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>


  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!--poner imagen-->
<div
  class="elementor-element elementor-element-9dc2fd9 elementor-hidden-desktop e-con-full wd-section-stretch-content e-flex e-con e-parent e-lazyloaded"
  data-id="9dc2fd9" data-element_type="container">
  <div
    class="elementor-element elementor-element-3f3747d elementor-widget__width-inherit elementor-widget elementor-widget-wd_image_or_svg"
    data-id="3f3747d" data-element_type="widget" data-widget_type="wd_image_or_svg.default">
    <div class="elementor-widget-container">

      <div class="wd-image text-left">
        <img loading="lazy" decoding="async" width="1242" height="902"
          src="https://rodak.ar/wp-content/uploads/2024/09/Banner-Web-Adaptacion-Celular-1242-x-902-Rodak-Muebles.png"
          class="attachment-full size-full" alt=""
          srcset="https://rodak.ar/wp-content/uploads/2024/09/Banner-Web-Adaptacion-Celular-1242-x-902-Rodak-Muebles.png 1242w, https://rodak.ar/wp-content/uploads/2024/09/Banner-Web-Adaptacion-Celular-1242-x-902-Rodak-Muebles-400x290.png 400w, https://rodak.ar/wp-content/uploads/2024/09/Banner-Web-Adaptacion-Celular-1242-x-902-Rodak-Muebles-1102x800.png 1102w, https://rodak.ar/wp-content/uploads/2024/09/Banner-Web-Adaptacion-Celular-1242-x-902-Rodak-Muebles-768x558.png 768w, https://rodak.ar/wp-content/uploads/2024/09/Banner-Web-Adaptacion-Celular-1242-x-902-Rodak-Muebles-430x312.png 430w, https://rodak.ar/wp-content/uploads/2024/09/Banner-Web-Adaptacion-Celular-1242-x-902-Rodak-Muebles-700x508.png 700w, https://rodak.ar/wp-content/uploads/2024/09/Banner-Web-Adaptacion-Celular-1242-x-902-Rodak-Muebles-150x109.png 150w"
          sizes="(max-width: 1242px) 100vw, 1242px">
      </div>

    </div>
  </div>
</div>

