<div class="container ">

    <div class="row">
        <div class="col-md-5">
            <img src="/assets/trabajan.jpg">
        </div>
    
        <div class="col-md-7">
            <h2>Acerca de nosotros</h2>
            <p>J.L.Muebles es una empresa familiar que comienza con la idea de crear una marca de mobiliarios basado
                en el estilo industrial, mezclando hierro y madera. </p>
            <p>Buscamos crear productos vanguardistas, sofisticados y de gran durabilidad, dando importancia a cada
                proceso de produccion.
            </p>
            <p>Nuestro objetivo como empresa es que todos nuestros producutos reflejen nuestro valor como marca.
            </p>
            <p>Buscamos consolidarnos a travez de la practicidad, durabilidad, diseño y precio asequible a todos
                nuestros clientes, para que puedan disfrutar de cada rincon de su hogar.</p>
            <p>Como filosofia de empresa, se busca la perfeccion en cada uno de los procesos a los cuales son
                sometidos los materiales para lograr un producto unico.</p>
        </div>
    </div>

</div>
